@tailwind base;
@tailwind components;
@tailwind utilities;

.jumbotron {
  background-image: url("/public/images/bg-img.png");
  background-size: 100%;
  height: 100%;
  margin-top: 88px;
}

/* .background {
}

.text-container {
}

h1 {
}

.main-text {
}

.button {
} */
